body{
    background-color: lightgrey;
}
#wrapper {
    width: 100%;
    height: 700px;
    background-image: url(images/slotbackground.jpg);
    border-radius: 40%;
    display: flex;
    margin-top: 20px;
}
#wrapper #mleft {
    font-size: 30px;
    font-weight: bold;
    width: 400px;
    height: 100px;
    color: mediumorchid;
    background-color: lightsteelblue;
    border-radius: 15px;
}
#slots {
    align-self: center;
    margin: 0 auto;
}
#slots td[colspan]:not([colspan="1"]){
    text-align: center;
}
#slots img {
    border: 2px solid black;
    border-radius: 10px;
}
#slots button {
    width: 200px;
    font-size: 40px;
    align-self: center;
}
#results {
    font-size: 30px;
    color: mediumorchid;
    font-weight: bold;
    width: 420px;
    height: 100px;
    background-color: lightsteelblue;
    border-radius: 15px;
}
#results input {
        font-size: 30px;
        width: 200px;
}
#display {
    
    display: flex;
    margin-top: 20px;
    width: 100%;
    height:150px;
    position: relative;
    background: lightgrey;
    align-content: center;
    
}
#rules {
    width: 30%;
    height: 150px;
    font-size: 20px;
}
#rules td[colspan]:not([colspan="1"]){
    text-align: left;
}


#myAnimation {
    width: 40%;
    height: 150px;
    background-color: white;
    font-size:50px;
}
#myAnimation span{
    position: relative;
    top: -50px;
    
   
}
#hidden {
    
    visibility: hidden;
}